@import 'styles/shared.scss';

.heder__wrapper {
  min-height: 56px;
  background-color: $mainLight-color;
}

.heder__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    padding: 0 25px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 45px 0 25px;
  }
}

.logo {
  background: url('../../images/logo.png');
  width: 90px;
  height: 31px;
}
