@import 'styles/shared.scss';

.header {
  max-width: $desktop;
  margin-left: auto;
  margin-right: auto;
  min-height: 56px;
  padding: 0 20px;
  background-color: $mainLight-color;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    padding: 0 25px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 45px 0 25px;
  }
}

.logo {
  background: url('../../images/logo.png');
  width: 90px;
  height: 31px;
}
