@import 'styles/shared.scss';

.main__button {
  min-width: 125px;
  min-height: 44px;
  background-color: transparent;
  border: 2px solid $auxiliaryLight-color;
  border-radius: 16px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $primary-color;

  transition: all $timing-function;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $mainAccent-color;
    color: $mainLight-color;
    box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
    border: none;
    outline-color: transparent;
  }

  &:disabled {
    &:hover,
    &:focus {
      background-color: $auxiliaryLight-color;
      border: 2px solid $mainLight-color;
      color: $secondory-color;
      cursor: not-allowed;
    }
  }
}

.secondary {
  border: 2px solid $mainLight-color;
  color: $secondory-color;
  font-weight: 400;
}

.center {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-transform: uppercase;
  background-color: $auxiliaryLight-color;
  box-shadow: 1px 3px 5px rgba(82, 85, 95, 0.15);
  z-index: 1;
  color: $mainAccent-color;
}

.smallRight {
  @extend .center;
  width: 106px;
  margin-left: auto;
  display: block;
  margin-bottom: 20px;
  color: $mainAccent-color;
  background-color: $auxiliaryLight-color;
  box-shadow: 1px 3px 5px rgba(82, 85, 95, 0.15);
  // background-color: $mainAccent-color;
  // color: $mainLight-color;
}

.accentButton {
  background-color: $mainAccent-color;
  color: $mainLight-color;
}
.centerAccent {
  @extend .center;
  @extend .accentButton;
}

.accentButtonRight {
  @extend .smallRight;
  @extend .accentButton;
}

.google__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
  border-radius: 26px;
  background: #f6f7fb;
  padding: 10px 20px;
}

.mobile {
  border-radius: 0 16px 16px 0;
}

.greyBackground {
  background: $auxiliaryLight-color;
}
