@import 'styles/shared.scss';

.main__button {
  min-width: 125px;
  min-height: 44px;
  background-color: transparent;
  border: 2px solid $auxiliaryLight-color;
  border-radius: 16px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $primary-color;

  transition: all $timing-function;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $mainAccent-color;
    color: $mainLight-color;
    border: none;
  }

  &:disabled {
    &:hover,
    &:focus {
      background-color: $auxiliaryLight-color;
      border: 2px solid $mainLight-color;
      color: $secondory-color;
      cursor: not-allowed;
    }
  }
}

.secondary {
  border: 2px solid $mainLight-color;
  color: $secondory-color;
  font-weight: 400;
}
