@import 'styles/shared.scss';

.balance {
  text-align: center;
  font-family: $primary-font-stack;
  font-style: normal;
  order: 1;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    margin-right: 80px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 225px;
    width: 369px;
  }
}

.balance__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: rgba(82, 85, 95, 0.7);
  margin-bottom: 6px;
  @media screen and (min-width: $tablet) {
    margin-right: 21px;
  }
}

.balance__amountBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 183px;
  height: 44px;
  margin: 0 auto;
  border: 1px solid $mainLight-color;
  border-radius: 22px;
  @media screen and (min-width: $tablet) {
    width: 125px;
    border-radius: 16px;
    margin-right: 15px;
  }
}
.balance__amountSum {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $mainDark-color;
}

.balance__confirmButton {
  display: none;
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: rgba(82, 85, 95, 0.7);
    padding: 12px 6px;
    margin: 0 auto;
    border: 1px solid $mainLight-color;
    border-radius: 22px;
    width: 183px;
    height: 44px;
    cursor: no-drop;
  }
}
