@import 'styles/shared.scss';

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $tablet) {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 110px;
    padding-right: 110px;
  }
}
