$primary-color: #52555f;
$secondory-color: #52555fb2;
$mainAccent-color: #ff751d;
$secondaryAccent-color: #ffdac0;
$mainLight-color: #fff;
$mainDark-color: #000;
$pozitive-color: #407946;
$negative-color: #e7192e;
$auxiliaryDark-color: #a6abb9;
$auxiliaryLight-color: #f5f6fb;
