@import 'styles/colors.scss';
@import 'styles/breakpoints.scss';
.main__wrapper {
  display: flex;
  justify-content: space-between;
}
.registration {
  padding-top: 117px;
  padding-bottom: 142px;
}

.registration__title {
  width: 300px;
  height: 46px;
  @media screen and(min-width:$tablet) {
    width: 306px;
    height: 78px;
  }
  @media screen and(min-width:$desktop) {
    width: 377px;
    height: 120px;
  }
}

.title__wrapper {
  margin-right: 127px;
}
.registration__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-left: 70px;
  color: $primary-color;
}
