@import 'styles/shared.scss';
@import 'styles/colors.scss';

div.box {
  display: flex;
  justify-content: center;
  width: 300px;
  height: auto;
  padding: 45px 18px 53px;
  background-color: $mainLight-color;
  border-radius: 30px;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);

  @media screen and (min-width: $tablet) {
    width: 436px;
    height: auto;
    padding: 50px 85px;
    // background-color: rgb(240, 240, 240);
    border-radius: 30px;
  }
}

.registration__title {
  text-align: center;
  margin-bottom: 20px;
}

.google_button__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.button__wrapper {
  margin-top: 15px;
}

.login__button {
  margin-right: 15px;
}
.google__icon {
  margin-right: 10px;
}
