.incomeCosts {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  margin: 10px;
  border-radius: 10px;
}

.incoming {
  border-right: 1px solid grey;
  margin-right: 16px;
  padding-right: 16px;
}
