.profile {
  padding-top: 60px;
  padding-bottom: 60px;
}

.profile__wrapper {
  display: flex;
}

.profile__sidebar {
  margin-right: 80px;
  width: 360px;
}

.profile__buttonBack {
  margin-bottom: 60px;
}

.avatar__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.addFile__form {
  position: absolute;
  right: 20px;
  bottom: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  font-size: 45px;
}

.profile__info {
  padding: 10px;
}

.profile__name {
  font-size: 50px;

  text-align: center;
  margin-bottom: 25px;
}

.profile__buttonEdit {
  display: block;
  cursor: pointer;
  color: 000;
}

.profile__email {
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
  font-size: 24px;
  color: rgb(138, 138, 138);
}

.profile__text {
  // display: inline-block;
  text-transform: uppercase;
  text-align: right;
  font-size: 50px;
  color: rgb(0, 0, 0);
  margin-bottom: 50px;
}

div.tableData__field {
  margin-bottom: 20px;
}
