@import 'styles/shared.scss';

.profile {
  position: relative;
  padding-top: 30px;
  padding-bottom: 0px;
  // height: calc(100%-56px-84px);
  min-height: 1222px;

  @media screen and (min-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

.profile__wrapper {
  padding: 150px 10px 70px 10px;
  background: $mainLight-color;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../../images/bag-money-115.png), url(../../images/logo.svg),
    url(../../images/bag-money-75.png);
  background-repeat: no-repeat;
  background-size: 83px, 183px, 83px;
  background-position: left 4px top 370px, center top 30px, right 16px bottom 4px;

  @media screen and (min-width: $tablet) {
    background-image: url(../../images/bag-money-115.png), url(../../images/logo.svg);
    background-size: 83px, 183px;
    background-position: left 4px top 300px, left 50px top 550px;
    display: flex;
    width: 650px;
    padding: 90px 30px 70px 30px;
  }
  @media screen and (min-width: $desktop) {
    width: 1050px;
    padding: 120px 60px;
    background-position: left 30px top 330px, left 160px top 650px;
  }
}

.profile__sidebar {
  position: relative;
  margin-bottom: 30px;
  @media screen and (min-width: $tablet) {
    margin-right: 40px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 120px;
    width: 400px;
  }
}

.buttonBack svg {
  position: absolute;
  top: 10px;
  left: 15px;
  // margin-bottom: 60px;
  fill: $mainAccent-color;
  @media screen and (min-width: $tablet) {
    top: 20px;
    left: 30px;
  }

  @media screen and (min-width: $desktop) {
    top: 30px;
    left: 50px;
  }
}

button.profile__buttonShare {
  position: absolute;
  top: 125px;
  right: 45px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  &:hover,
  &:focus {
    background-color: transparent;
  }
  @media screen and (min-width: $tablet) {
    top: 675px;
    right: 450px;
    z-index: 1;
  }

  @media screen and (min-width: $desktop) {
    top: 775px;
    right: 760px;
  }
}

button.profile__buttonEdit {
  position: absolute;
  top: 4px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  &:hover,
  &:focus {
    background-color: transparent;
  }
  @media screen and (min-width: $tablet) {
    //   top: 675px;
    //   right: 450px;
    z-index: 1;
  }

  @media screen and (min-width: $desktop) {
    //   top: 775px;
    //   right: 760px;
  }
}

.avatar__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: $desktop) {
    margin-bottom: 80px;
  }
}

.addFile__form {
  position: absolute;
  right: 15px;
  bottom: 6px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  font-size: 45px;
  @media screen and (min-width: $desktop) {
    bottom: 10px;
    right: 80px;
  }
}

.profile__info {
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  width: 260px;

  @media screen and (min-width: $desktop) {
    width: 400px;
  }
}

.profile__name {
  font-size: 30px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 8px;

  @media screen and (min-width: $desktop) {
    font-size: 50px;
  }
}

.profile__buttonEdit {
  display: block;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.64);
}

.profile__email {
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: center;
  font-size: 14px;
  color: rgb(138, 138, 138);
}

// .profile__text {
//   // display: inline-block;
//   text-transform: uppercase;
//   text-align: right;
//   font-size: 8px;
//   color: $auxiliaryDark-color;
//   margin-bottom: 8px;
// }

.button__submit {
  width: 100px;
}

.tableData {
  @media screen and (min-width: $tablet) {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 250px;
    color: #aabafa;
  }

  @media screen and (min-width: $desktop) {
    width: 380px;
  }
}

.phoneWrapper {
  position: relative;
}
