@import 'styles/shared.scss';

.modal {
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 194px;
  text-align: center;
  background-color: $mainLight-color;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;

  @media screen and (min-width: $tablet) {
    min-width: 380px;
  }
}

.modal__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 116;
  letter-spacing: 0.02em;
}

.modal__close_button {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;

  transition: color $timing-function;

  &:hover,
  &:focus {
    color: $mainAccent-color;
  }
}
