@import 'styles/shared.scss';
//ReportTable
.report__thumb {
  margin-bottom: auto;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(250, 248, 248);
  margin-left: 80px;
}

.report__title {
  margin-top: 0;
}

.report__list {
  padding-left: 0;
  list-style: none;
}

.report__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//Tabs
.tabs {
  background-color: #fafbfd;
  border-radius: 20px 20px 0 0;
  min-width: 140px;
  min-height: 40px;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: $mainDark-color;

  &:focus-within,
  &:focus-visible {
    color: $mainAccent-color;
    background-color: #fefefe;
  }
}

.tabs__list {
  min-height: 0;
}

.tabs__thumb {
  padding: 35px 20px 60px 20px;
  background: $mainLight-color;

  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 0px 30px 30px 30px;
}

// BalanceLine

.balance__title {
  color: $secondory-color;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;

  margin-right: 40px;
}

.balance__input {
  width: 125px;
  height: 44px;
  background-color: transparent;
  border: 2px solid $mainLight-color;
  border-radius: 16px;
  margin-right: 15px;

  font-weight: 700;
  color: $mainDark-color;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: 2px solid $mainAccent-color;
    border: none;
  }

  &::placeholder {
    line-height: 1.16;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: $mainDark-color;
    text-align: center;
    width: 100%;
  }
}

.disabled {
  cursor: not-allowed;
  border: 2px solid $mainLight-color;

  &:hover,
  &:focus {
    outline: none;
    border: 2px solid $mainLight-color;
  }
}

.disable__button {
  color: $secondory-color;
  margin-right: 0;
}

.reports__link {
  color: $secondory-color;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 205px;

  &::after {
    content: '';
    background: url('../../images/trend.png');
    width: 24px;
    height: 24px;
    margin-left: 15px;
  }
}

// Form
.balance__form {
  display: flex;
  align-items: flex-start;

  margin-bottom: 20px;
}

.balance__date {
  width: 130px;
}

.date__field {
  & input {
    font-size: 12px;
    color: $primary-color;
    font-weight: 900;
    text-align: center;
    padding: 0;
    min-height: 45px;
  }

  & div {
    &div {
      border-radius: 0;
    }

    border-radius: 16px 0px 0px 0px;
  }

  & button {
    padding: 0;

    & svg {
      width: 20px;
      height: 20px;
    }
  }
}

.form__field {
  & label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #c7ccdc;
  }

  & input {
    min-height: 45px;
    font-size: 12px;
    color: $primary-color;
    font-weight: 700;
    padding: 0 15px;
  }

  & p {
    font-size: 10px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #c7ccdc;
    text-align: center;
  }

  & div {
    border-radius: 0;
  }
}

.description {
  width: 290px;
}

.amount {
  width: 120px;

  & div {
    border-radius: 0px 16px 16px 0px;
  }
}

.category {
  width: 190px;
}

.qwe {
  & fieldset {
    max-height: 50px;
    // border-color: red;
    // border-width: 3px;

    // &:focus-visible,
    // &:focus-within,
    // &:hover {
    //   border-color: red;
    //   outline-color: red;
    // }
  }
  // background-color: red;
}

.balance__buttons {
  margin-left: auto;
}

// BalanceTable
.tables__thumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.balancetable__thumb {
  height: 400px;
  width: 70%;
}

.button__delete {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: inherit;
  cursor: pointer;
}

.button__edit,
.button__save {
  color: rgb(151, 148, 148);
  cursor: pointer;
}
