@import 'styles/shared.scss';

// BalanceLine

.balance__title {
  color: $secondory-color;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;

  margin-right: 40px;
}

.balance__input {
  width: 125px;
  height: 44px;
  background-color: transparent;
  border: 2px solid $mainLight-color;
  border-radius: 16px;
  margin-right: 15px;

  font-weight: 700;
  color: $mainDark-color;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: 2px solid $mainAccent-color;
    border: none;
  }

  &::placeholder {
    line-height: 1.16;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: $mainDark-color;
    text-align: center;
    width: 100%;
  }
}

.disabled {
  cursor: not-allowed;
  border: 2px solid $mainLight-color;

  &:hover,
  &:focus {
    outline: none;
    border: 2px solid $mainLight-color;
  }
}

.disable__button {
  color: $secondory-color;
  margin-right: 0;
}

.reports__link {
  color: $secondory-color;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 205px;

  &::after {
    content: '';
    background: url('../../images/trend.png');
    width: 24px;
    height: 24px;
    margin-left: 15px;
  }
}
