@import 'styles/shared.scss';

.diagram {
  // position: relative;
  @media screen and (min-width: $tablet) {
    width: 666px;
    margin: 0 auto;
    margin-bottom: 76px;
    padding-top: 20px;
    padding-left: 32px;
    padding-bottom: 19px;
    padding-right: 29px;

    background: $mainLight-color;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
  @media screen and (min-width: $desktop) {
    width: 1060px;
    padding-top: 20px;
    padding-left: 151px;
    padding-bottom: 19px;
    padding-right: 151px;
  }
}

.diagramLarge {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $mainLight-color;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  margin: 0 auto;
  width: 100%;
}
.diagram_emptyTitle {
  text-align: center;
}
a {
  cursor: pointer;
}

.diagram__button {
}

button {
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
  opacity: 60%;
}

button:hover,
button:focus {
  color: $mainAccent-color;
}

.diagram__buttonPie {
  display: inline-block;
}

.diagram__buttonColumn {
  display: none;
  @media screen and (min-width: $tablet) {
    display: inline-block;
  }
  @media screen and (min-width: $desktop) {
    display: inline-block;
  }
}

// горизонтвльно
.diagram__buttonBar {
  display: inline-block;
  transform: rotate(90deg);
  @media screen and (min-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
